<a href="https://colab.research.google.com/github/NWG4735/IST-210/blob/master/Final_Report2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction

Our group chose to make our project based off of a hypothetical bar/ restaurant in state college. We chose our entities based off of the information that we considered to be the most valuable. It took many iterations of adding and fixing the project to arrive here.

![ER Diagram](https://raw.githubusercontent.com/NWG4735/IST-210/master/Images/Group%20Project%202(updated).png)

### Specifics of ER Diagram:

We created the database in SQL using the sqlite command. Our tables were created by using DDL, in which we created tables and listed the entities using the three attribute types of integer, real and text. Once our required tables were created, we then inserted them using DML and the INERT INTO command, in which we followed the layout of our created tables and inserted either text or numbers to the appropriate entities.

### Would this be valid in 2nd Normal Form?

Our ER diagram would be valid in second normal form because it follows first normal form. It also follows second normal form because all the attributes are split into where information would not be lost if an attribute was deleted. For example, if the date of birth was deleted from STAFF, it would not affect the other keys in the diagram.

### Would this be valid in 3rd Normal Form?

Our ER diagram would work in third normal form as well because it follow first and second normal form . All the attributes have their own table along with their own information. To be in third normal form, the attribute ID has to be the identification key. For example, to identify the drink menu, you would use the drinkMenuID.

### Would this be valid in Boyce-Codd Normal Form?

Although our ER diagram works in first, second, and third normal form, it does not make the cut for Boyce Codd form. To be in Boyce Codd, candidate keys can only depend on a single attribute. In our diagram, staff is located in almost all of our attributes and depends on most of those attributes as well.

### How was the database, table, and table data created and inserted?

We created the database in SQL using the sqlite command. Our tables were created by using DDL, in which we created tables and listed the entities using the three attribute types of integer, real and text. Once our required tables were created, we then inserted them using DML and the INERT INTO command, in which we followed the layout of our created tables and inserted either text or numbers to the appropriate entities.

In [1]:
%load_ext sql

Nick: Add image of ER diagram, discuss specifics on the ER diagram, discuss how tables were created and how data was inserted, add section headers

In [2]:
%sql sqlite:///GroupMilestone3.db

'Connected: @GroupMilestone3.db'

In [3]:
%%sql
CREATE TABLE Staff(SSN text primary key, firstName text, lastName text, dobDay text, dobMonth text, dobYear real);
CREATE TABLE drinkMenu(drinkMenuID text primary key, price real, popularity real, staff text, seasonal text);
CREATE TABLE physicalLocation(addressZIP real primary key, staff text, occupancy real, menu text);
CREATE TABLE foodMenu(foodMenuID text primary key, price real, popularity real, seasonal text, staff text);
CREATE TABLE Reviews(reviewID text primary key, staff text, frequency real, customer text);

 * sqlite:///GroupMilestone3.db
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
INSERT INTO drinkMenu VALUES('budlite', 3.50, 5, 'bartender', 'no');
INSERT INTO drinkMenu VALUES('miller lite', 4.00, 7, 'bartender', 'no');
INSERT INTO drinkMenu VALUES('coke', 2.00, 9, 'bartender', 'no');
INSERT INTO drinkMenu VALUES('hot chocolate', 3.00, 6, 'bartender', 'yes');
INSERT INTO drinkMenu VALUES('water', 0, 10, 'bartender', 'no');

 * sqlite:///GroupMilestone3.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Scenario:

An average user would likely be either the owner of the restaurant or an employee of the restaurant. They could use our database to understand what products are performing well and which are not. This information would then assist them to be more efficient when purchasing products. They could also check how well the staff are doing by comparing the staff to reviews. This relationship could help the owner make decisions about promotions as well as if any staff are overall detrimental to the business.

What are the top 3 most to least popular drinks?

In [5]:
%%sql
SELECT drinkMenuID,popularity FROM drinkMenu ORDER BY popularity DESC limit 3;

 * sqlite:///GroupMilestone3.db
Done.

[('water', 10.0), ('coke', 9.0), ('miller lite', 7.0)]

Which drinks are seasonal?

In [6]:
%%sql
SELECT drinkMenuID,seasonal FROM drinkMenu WHERE seasonal = 'yes';

 * sqlite:///GroupMilestone3.db
Done.

[('hot chocolate', 'yes')]

What are the top 3 most expensive drinks?

In [7]:
%%sql
SELECT drinkMenuID, price FROM drinkMenu ORDER BY price DESC limit 3;

 * sqlite:///GroupMilestone3.db
Done.

[('miller lite', 4.0), ('budlite', 3.5), ('hot chocolate', 3.0)]